html, body {
  /*font-family: "Lato-Regular";*/
	font-family: "Arial";
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
.footer{
	height: auto;
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: center;
}
.footer .container{
	padding: 0;
	border-bottom: 3px solid black;
	border-radius: 6px;
}
ul{
	list-style-type: none;
	padding: 0px;
}
img{
	width: 100%;
}
.wrap .container{
	padding: 0;
}
.relative{
	position: relative;
}
.fixed-right{
	position: absolute;
	right: 0;
	bottom: -60px;
}
.admin{
	text-align: center;
}
.admin-login{
	padding: 10px;
	border: 1px solid rgb(222, 222, 222);
	position: relative;
	width: 400px;
	text-align: left;
	margin: auto;
}
.admin-login label{
	margin-left: 15px;
}
.admin-login .col-lg-7{
	height: 50px;
}
.admin-login:before,
.admin-login:after{
	content: "";
	display: table;
	margin: 10px 0;
}
.admin-login:after{
	clear: both;
}
.horizontal{
	float: left;
}
.logo-size{
	width: 45%;
	margin-bottom: 30px;
}
.nav-top{
	list-style-type: none;
}
.nav-top a{
	color: #246DA3;
}
.navbar{
	border-radius: 0px;
}
.navbar-brand > img{
    position: relative;
    top: -16px;
    width: 75%;
}
.navbar-collapse{
	padding-right: 0;
	padding-left: 0;
}
#wrapper{
	position: relative;
	margin-bottom: 10px;
	margin-top: -20px;
}
#slider{
	/* height: 495px; */
	height: auto;
	max-height: 435px;
}
.small_slider{
	height: 150px;
}
#fix{
	border: 1px solid red;
	width: 100%;
	height: 150px;
	position: relative;
	margin-top: 0;
	margin-bottom: 10px;
}
/* ========================================= SIDEBAR ===========================================*/
.title{
	/* background: url("assets/images/bg-title.png") no-repeat; */
    background-color: #337ab7;
    border-color: #2e6da4;
	color: #fff;
	padding: 5px 10px;
	margin-left: 10px;
	width: 90%;
	margin: auto;
}
.sidebar{
	width: 100%;
	background: rgb(252, 252, 252);	
	border: 1px solid rgb(242, 242, 242);
	padding: 5px;
	margin-bottom: 20px;
}
.nav-tabs{
	border-bottom: 1px solid rgb(0, 70, 0);
}
ul#nav_search .active a{
	border-top: 2px solid red;
}
.nav-tabs > li.active > a{
	color: red;
}
.search-style{
	margin-bottom: 10px;	
	background-image: url("assets/images/bg-search.png");
	border-top-style: none;
	display: none;
	/*border: 1px solid rgb(242, 242, 242);*/
	padding: 5px;
}
#tour{
	display: block;
}
.video-box video{
	width: 100%;
}
.video-box a{
	text-decoration: underline;
}
.right{
	text-align: right;
}
.video-box a:hover{
	color: rgb(0, 70, 0);
}
.services{
	padding: 7px;
}
.services h4{
	padding: 10px 5px;
	background-color: #246DA3;
}
.services .item{
	width: 90%;
	height: auto;
	margin: auto;
	margin-bottom: 15px;
	background: rgb(252, 252, 252);	
	border: 1px solid rgb(242, 242, 242);
	overflow: hidden;
}
.services .item:last-child{
	/*margin-bottom: 30px;*/
}
.services img{
	width: 100%;
	/* height: auto; */
	max-height: 150px;
}
.travel{
	width: 90%;
	margin: auto;
}
.travels{
	padding: 7px;
}
.travels > h4{
	padding: 10px 5px;
}
.travel li{
	border-bottom: 1px solid rgb(242, 242, 242);
	padding: 5px;
}
.travel li:last-child{
	border-bottom: none;
}
.travel span{
	color: rgb(0, 78, 0);
}
.travel a{
	text-decoration: none;
}
.travel a:hover{
	color: rgb(0, 78, 0);
}

/* ========================================= END SIDEBAR ===========================================*/
.main-content{
	margin-top: -25px;
}
.thumb{
	background-color: #fcfcfc;
	margin-bottom: 30px;
	padding: 0px 10px;
}
.thumb-caption{
	font-weight: bold;
	padding: 10px 0;
}
.thumb-caption:after{
	content: "";
	display: block;
	padding: 5px;
	margin-left: -10px;
	margin-right: -10px;
	border-bottom: 3px solid #246DA3;
}
.info{
	opacity: 0;
	position: absolute;
	top: 130px;
	width: 100%;
	text-align: center;
	color: #fff;
	transition: all 1s;
}
.doc{
	opacity: 0;
	background: url("images/doc.png") no-repeat center center;
	position: absolute;
	top: 50px;
	height: 50px;
    width: 100%;
    text-align: center;
}
.thumbnail{
	background-color: rgb(242, 242, 242);
	position: relative;
	margin-bottom: 15px;
}
.thumbnail .caption > h4{
	color: rgb(0, 70, 0);
	font-weight: bold;
}
.col-md-4 .default{
	padding-right: 30px;
}
.thumbnail .caption > h4:hover{
	font-weight: bold;
}
.thumbnail img{
	height: 200px;
	position: inherit;
	top: 0px;
	width: 100%;
}
.tour-price{
	width: 65%;
	line-height: 1.3;
	text-align: center;
	border: 1px solid rgb(250, 250, 250);
	background-color: rgb(252, 252, 252);
}
.tour-price h5,
.tour-price .price{
	margin-bottom: 0;
	padding-bottom: 0;
}
.price{
	font-weight: bold;
	font-size: 25px;
	color: red;
	opacity: initial;
}
.price-top{
	position: absolute;
	top: 0;
	left: 15px;
	opacity: .9;
}
.price-width{
	width: 110px;
}
.tour-info{
	list-style-type: none;
	padding-left: 0px;
	font-weight: bold;
}
.details{
	color: rgba(0, 78, 0, 0.8);
}
.details:hover{
	color: rgba(0, 78, 0, 1)
}
.enquire{
	color: rgba(0, 78, 0, 0.8);
	font-weight: bold;
}
.enquire:hover{
	color: rgba(0, 78, 0, 1);
}
.footer-tour{
	background-color: #222;
    border-color: #080808;
    text-align: right;
	color: #fff;
    margin: -10px;
    padding-right: 15px;
}
.footer-tour p{
	display: inline-block;
	margin: 0 5px 0 0;
	padding: 5px;
}
.footer-tour a{
	color: #fff;
}
.text-right{
	text-align: right;
}
.inline li{
	display: inline-block;
	margin-left: 10px;
}
.countries-tour{
	padding: 0px;
	margin: 0px;
}
.countries-tour .country{
	display: inline-block;
	width: 20%;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}
.country-caption{
	font-weight: bold;
}
.country .list-tour{
	margin: 0 10px 0 16px;
	padding: 0px;
	list-style-type: none;
}
.country .list-tour li{
	margin-left: -15px;
}
.country .list-tour li:before{
	background: url("../images/li.png") no-repeat;
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 5px;
}
.country .list-tour li a{
	color: #000;
	opacity: 0.8;
}
.follow{
	position: absolute;
	bottom: 10px;
	right: 25px;
	/*text-align: right;*/
	/*border-bottom: 1px solid #7a7a7a;*/
}
.follow p,
.follow span{
	display: inline-block;
}
.follow span{
	margin-left: 5px;
}
.follow span img{
	width: 16px;
	height: 16px;
}
.center{
	text-align: center;
}
#menu-bottom{
	list-style-type: none;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    padding: 15px 5px;
}
#menu-bottom li{
	display: inline-block;
}
#menu-bottom a{
	padding: 0 15px;
	border-right: 1px solid #707070;
	text-transform: uppercase;
}
#menu-bottom a:hover{
	color: rgb(0, 70, 0);
}
#menu-bottom li:last-child a{
	border-right: none;
}
.modal-title,
.note{
	display: inline-block;
}
.order{
	text-align: center;
	padding: 20px 0;
}
.note{
	width: 52%;
	text-align: right;
}
.form-footer{
	text-align: center;
}
.header{
	padding: 10px;
	background: rgb(250, 250, 250);
	border: 1px solid rgb(242, 242, 242);
	margin-bottom: 30px;
}
#hotel_slider,
#tour_slider{
	height: auto;
	max-height: 350px;
}
.right{
	text-align: right;
}
.sort{
	margin: 10px 0;
	background: rgb(242, 242, 242);
	padding: 5px 10px;
}
.form-inline .form-group{
	margin: 0 15px;
}
.caption{
	padding-bottom: 0;
	min-height: 207px;
}
.bottom-bar{
	/*margin: -15px -4px -4px -4px;*/
	margin: 0 -4px -4px -4px;
	background: #246DA3;
	max-height: 66px;
	overflow: hidden;
}
.bottom-bar .details{
	margin-bottom: 0;
	padding: 5px;
	margin-top: 10%;
}
.bottom-bar a{
	color: #fff;
}
.hotel-price{
	background: #ff4c4c;
	padding: 8px;
	text-align: center;
	color: #fff;
}
.star-yellow span{
	/*color: yellow;*/
}
.glyphicon-star{
	color: yellow;
}
.hotel-star{
	padding: 0;
	margin: 0;
}
.hotel-star li{
	display: inline-block;
	color: #333;
}
.price-size{
	font-size: 18px;
}
.info-detail{
	border: 1px solid rgb(222, 222, 222);
	background: #fff;
	padding: 7px 10px;
	min-height: 0px;
}
.info-detail span,
.info-detail li > p{
	display: inline;
}
.info-detail .glyphicon-star{
	color: #FF8300;
}
.hotel li{
	display: block;
}
.hotel-info,
.tour-info{
	margin-top: 30px;
}
.hotel-info h4,
.tour-info h4{
	color: rgb(0, 70, 0);
}
.hotel-info ul,
.tour-info ul{
	margin-left: 50px;
	list-style-type: circle;
}
/*.related-hotel .col-md-5{
	width: 150px;
	height: 120px;
	border: 1px solid rgb(242, 242, 242);
	padding: 4px;
}*/
.related-tour{
	padding-bottom: 10px;
}
.related-tour ul{
	list-style-type: circle;
	margin-left: 20px;
}
#order_form h4,
#book_tour h4{
	text-decoration: underline;
}
.related-hotel .row{
	margin: 0px;
	margin-bottom: 10px;
}
.margin-top-1{
	position: relative;
	top: 150px;
}
.margin-top-2{
	position: relative;
	top: 300px;
}
.smallUpload{
	position: relative;
	top: -770px;
	height: 150px;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 70%;
	margin-left: 299px;
}
.largeUpload{
	position: relative;
	top: -710px;
	height: 150px;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 70%;
	margin-left: 299px;
}
.image-slide-upload{
	position: relative;
	top: -195px;
	height: 150px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.address tr td:first-child{
	background: rgb(242, 242, 242);
	text-transform: uppercase;
	text-align: center;
}
.address tr td{
	padding: 10px;
}
@media screen and (max-width: 767px){
	.countries-tour .country{
		width: 100%;
		margin-bottom: 10px;
	}
	.bottom-bar .col-md-6{
		width: 100%;
	}
	.bottom-bar .details{
		margin: 0;
		padding: 0;
	}
	.bottom-bar{
		height: auto;
		text-align: center;
		overflow: visible;
	}
	.bottom-bar .hotel-price{
		margin-bottom: 10px;
		padding: 0;
	}
	/*.pagination{
		position: absolute;
		bottom: -50px;
		right: 25px;
	}*/
	.navbar-brand img{
		position: absolute;
		top: -0;
		width: 30%;
	}
	.top{
		text-align: center;
	}
	#admin-controls{
		width: 100%;
		position: static;
	}
	.site-admin{
		margin-left: 15px;
	}
	.container > .navbar-collapse{
		margin: 0;
	}
	.navbar-nav{
		margin: 0;
	}
}

@media screen and (min-width: 768px){
	.countries-tour .country{
		width: 20%;
		margin-bottom: 10px;
	}
	.tour-info{
		margin-top: 13px;
	}
	.navbar-header{
		width: 100%;
	}
	.navbar-brand{
		width: 100%;
		text-align: center;
	}
	.navbar-nav li{
		width: auto;
		text-align: center;
	}
	.navbar-brand{
		height: 100px;
	}
	.navbar-brand img{
		width: 15%;
		position: absolute;
		top: 10px;
		left: 45%;
	}
	.bottom-bar .col-md-6{
		width: 100%;
	}
	.bottom-bar .details{
		margin: 0;
		padding: 0;
	}
	.bottom-bar{
		height: auto;
		text-align: center;
		overflow: visible;
	}
	.bottom-bar .hotel-price{
		margin-bottom: 10px;
		padding: 0;
	}
	.top{
		text-align: left;
	}
	#admin-controls{
		width: 100%;
		position: static;
	}
	.site-admin{
		margin-left: 15px;
	}
	/*.pagination{
		position: absolute;
		bottom: -50px;
		right: 25px;
	}*/
}
@media screen and (min-width: 1199px){
	.navbar-header{
		width: auto;
	}
	.navbar-brand{
		height: 50px;
		width: 200px;
		text-align: left;
	}
	.navbar-nav li{
		width: auto;
		text-align: left;
		margin-left: -5px;
	}
	.navbar-brand img{
		width: 100%;
		/*position: relative;*/
		top: -18px;
		left: 0;
	}
	.bottom-bar .col-md-6{
		width: 50%;
	}
	.bottom-bar .details{
		/*margin-top: -5px;*/
		/*padding-left: 10px;*/
		padding: 12px;
	}
	.bottom-bar{
		text-align: left;
		overflow: hidden;
	}
	.bottom-bar .hotel-price{
		padding: 8px;
	}
	.top{
		text-align: left;
	}
	#admin-controls{
		width: 200px;
		position: fixed;
	}
	.site-admin{
		margin-left: 0;
	}
	/*.pagination{
		position: absolute;
		bottom: -50px;
		right: 15px;
	}*/
}

.galleria{
	width: 100%;
	height: 400px;
	background: #000;
	overflow: hidden;
}
.support-icon-right {
	border-radius: 6px 6px 0 0;
	background: #F0F3EF;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 9;
	overflow: hidden;
	width: 250px;
	color: #fff!important;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.support-icon-right h3 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px!important;
	font-family: Arial;
	color: #fff!important;
	margin: 0!important;
	background-color: #5CB85C;
	cursor: pointer;
}

.support-icon-right i {
	background-color: #D9534F;
	padding: 15px 15px 12px 15px;
}
.online-support {
	display: none;
}
.template-download.fade.in td:first-child{
	width: 173.333px;
	max-height: 50px;
}
.text-info{
	color: #fff;
}
.tour-head-control{
	text-align: right;
}
.tour-head-control li{
	display: inline-block;
	margin-left: 25px;
	text-align: left;
}
.preview > video{
	width: 100px;
}
.action:parent{
	position: relative;
	width: 99%;
}
.action{
	position: absolute;
	right: 10px;
	/*margin-top: -25px;*/
	top: 0;
}
.jstree-default .jstree-clicked{
	background-color: #dcf9f9;
}
.site{
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	box-shadow: 0 0 15px #e5e5e5;
}
.wrap{
	background-color: #f7f7f7;
}
.navbar-nav{
	width: 100%;
	background-color: #246da3;
	border-bottom: 2px solid #f7f7f7;
	margin-bottom: 5px;
}
.navbar-nav > li{
	min-width: 11%;
	text-align: center;
}
.navbar-default .navbar-nav  li  a{
	color: #fff;
}
.left-side > div{
	background-color: #e8e4e4;
}
.left-side > div{
	border-bottom: 2px solid #246da3;
	border-radius: 6px;
	margin-bottom: 20px;
}
.lg-tour .text-justify{
	max-height: 60px;
	overflow: hidden;
}
.sm-tour > .caption > p{
	min-height: 110px;
}
.info-company{
	position: relative;
}
.text-bold{
	font-weight: bold;
}
.video-box{
	padding: 7px;
}
.support-icon-right h3{
	padding: 10px;
	border-radius: 6px 6px 0 0;
	background-color: #246DA3;
}
.hide{
	visibility: hidden;
}
.show{
	visibility: visible;
}
.go-top{
	position: fixed;
	right: 30px;
	bottom: 30px;
	font-size: 40px;
	transition: all 1s;
	z-index: 100;
}
.list li{
	display: block;
	clear: both;
	width: 100%;
	text-align: left;
	margin: 0;
	border-top: 1px solid #fff;
	text-transform: uppercase;
}
.list li:last-child{
	border-bottom: 1px solid #fff;
}
.nav-admin{
	/*width: 350px;*/
}
.nav-admin > .container{
	width: 100%;
}
.nav-admin .navbar-brand{
	height: 100%;
	width: 100%;
	margin: auto;
	text-align: center;
}
.nav-admin .navbar-brand > img{
	margin: auto;
	position: static;
}
.site-admin{
	padding-left: 0;
}
.manage-title{
	width: 100%;
	border-bottom: 3px solid rgba(0, 0, 0, 0.6);
	padding: 0 0 5px 0;
	margin-bottom: 25px;
	font-weight: bold;
}
#admin-controls{
	height: auto;
}
.dropdown-menu{
	background-color: #246DA3;
}
.dropdown-menu > li > a:hover{
	background-color: #ababab;
}
.site-border-top{
	border-top: 3px solid black;
	border-radius: 6px;
	margin-top: 10px;
}
.list-inline > li{
	display: inline-block;
}
.list-inline li a{
	border-right: 1px solid #246DA3;
	padding-right: 10px;
}
.list-inline li:last-child a{
	border-right: none;
}
.right-pannel{
	margin-top: 10px;
}
.fb-like{
	margin-top: 5px;
}
.icon-lg{
	font-size: 35px;
}
.phone p,
.phone h4{
	margin: 0;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover{
	background-color: #246DA3;
	color: #fff;
}
.navbar-default .navbar-nav > li > a:hover{
	color: #fff;
}
.navbar-default .navbar-nav > li:hover{
	border-bottom: 3px solid #555;
}
.navbar .nav > .active{
	border-bottom: 3px solid red;
}
.navbar-nav li a{
	padding: 10px;
}
.infocompany-view td{
	word-break: break-all;
}
.tourtype-index{
	width: 100%;
	overflow: hidden;
}